---
title: Blog
layout: default
permalink: /blog/
description: A library of my thoughts, ideas and interpretations of the world.
navigation_weight: 3
---

<div class="grid-area">
  <ul class="blog-grid">
    <a href="/blog"><h3 class="bold"> Blog </h3></a>
    {% for post in site.posts %}
    <li class="post-list-grid">
      <a class="post-list-title" href="{{ post.url }}"><h1 class="offset-right" >{{ post.title }}</h1></a>
      <a href="{{ post.url }}"><img class="post-list-image" src="/assets/images/{{ post.image }}"></a>
      <p class="post-list-date"> {{ post.date | date: '%B %d %Y' }}</p>
    </li>
    {% endfor %}
  </ul>
<!--Take this out of comment for categories to display:    {% include blog-categories.html %} -->
</div>

<!-- https://oak.is/thinking/ inspiration :) -->
