---
title: Blog
layout: default
description: A library of my thoughts, ideas and interpretations of the world.
navigation_weight: 3
---

<div class="grid-area">
  <div class="blog-grid">
    <div class="blog-layout">
      <ul>
        {% for post in site.posts %}
          <li class="posts-list">
            <a href="{{ post.url }}"><h1>{{ post.title }}</h1></a>
              <p> {{ post.date | date: '%B %d %Y' }}</p>
              {{ post.excerpt }}
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="category-list"><h3>Categories</h3>
      {% for category in site.categories %}
        <h3> {{ category[0] }} </h3>
        <ul>
          {% for post in category[1] %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
    </div>
  </div>
</div>
