html {
  background-color: #F1ECE9;
}


.background_img_k {
   background: url(web_baground.png) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}


/* styling of text */


@font-face {
    font-family: "Code Mono";
    src: url(/assets/fonts/codemono-regular.woff);
}

@font-face {
    font-family: "Old Headline";
    src: url(/assets/fonts/oldheadline-bold.ttf);
}

.cover-statement-home {
  font-family: Old Headline;
  font-size: 6.5vw;
  color: white;
}

.body-statement-home {
  font-family: Code Mono;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 2vw;
  color: white;
}

.footer-text-home {
  font-family: Code Mono;
  font-size: 20px;
  color: grey;
}

h1 {
  font-family: Code Mono;
  text-decoration: none;
  font-size: 3rem;
}

h2 {
  font-family: Code Mono;
  font-size: 2rem;
}

h3 {
  font-family: Code Mono;
  font-size: 1.5rem;
}


p {
  font-family: Code Mono;
  font-size: 21px;
}

.flexbox {
  display: flex;

}

.menu {
  position: fixed;
  top: 23px;
  height: 70px;
  width: 100%;
}


.menu-light {
  font-family: Code Mono;
  color: #F1ECE9;
  font-size: 16px;
  padding-left: 1vw;
  padding-right: 1vw;
}

.menu-dark {
  font-family: Code Mono;
  color: black;
  font-size: 16px;
  padding-left: 1vw;
  padding-right: 1vw;
}




  /* grid for whole website */

@supports ((display: -ms-grid) or (display: grid)) {
  li {
    width: auto;
    margin: 0; }
  @media (min-width: 60px) {
    /* autoprefixer: off */
    main {
      /* autoprefixer: off */
      display: grid;
      height: 100%;
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: auto auto auto auto;
      grid-gap: 1vw;
      padding: 15px;
      padding-top: 70px;

    }

.grid-area {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
}


/* layout for menu */

}
.logo img {
width: 16vw;
}

header {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  display: flex;
}

nav {
  float: right;
  padding-right: 5vw;
}

li.menu-list {
  display: inline-block;
}

.logo {
  position: realtive;
  width: 50px;
  margin-bottom: 20px; }



/* layout for home page */

.front-cover {
  grid-row: 2 / 3;
  grid-column: 1 / 8;
  display: flex;
  align-items: flex-end;
  padding-left: 7vw;
  height: 80vh;
}
.content-half {
  grid-row: 3 / 4;
  grid-column: 2 / 6;
  margin-top: 50px;
  margin-bottom: 50px;
}

.body-content {
  padding-top: 30px;
}

footer {
  grid-row: 4 / 5;
  grid-column: 1 / -1;
  height: 200px;
}


cover-content {
  align-content: flex-end;
}

a.active {
  color: #F46032
}


/* layout for blog page */


.blog-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 100vh auto;
  grid-gap: 1vw;
}

.blog-layout {
  grid-row: 1 / 3;
  grid-column: 3 / 9;
}

.category-list {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
}

.posts-list {
  display: block;
}

/* layout for work page */

.work-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto auto auto;
  grid-gap: 1vw;
}

/* when adding work put this value back: grid-template-rows: repeat(10, 10vw); */


/* layout for posts pages */

.posts-grid {
  display: grid;
  grid-template-columns: .1fr 1fr 2fr .1fr;
  grid-template-rows: 100vh auto 50vh;
  grid-gap: 5vw;
}

.post-title {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  font-size: 11vh;
  transform: rotate(270deg);
  padding-top: 200px;

  }
}

.post-content {
  grid-row: 1 / 4;
  grid-column: 3 / 4;
}
