<hr>
{% assign footer = site.data.footer %}
<div class="footer-grid">

<!-- when I add a sign up for for newsletter if ever...
  <div id="footer-newsletter">

  </div>
  -->
  <div class="footer-social">
    {% for social in footer.social_links %}
    <a href="{{ social.url }}" class="fade" target="_blank"><p>{{ social.label }}</p></a>
    {% endfor %}
  </div>
  <div class="footer-contact">
    <p>{{ footer.contact.email_display }} <br>
      {{ footer.contact.location }} </p>
  </div>
  <div class="footer-github">
    <p><a href="{{ footer.github_repo_url }}">Fork this site on Github</a></p>
  </div>
  <div class="footer-info">
    <p class="center-info"><a rel="license" href="{{ footer.license.url }}">{{ footer.license.label }}</a>  | {{ footer.credit }}</p>
  </div>
</div>
