<footer>
  <hr>
  <div class="footer-grid">

  <!-- when I add a sign up for for newsletter if ever...
    <div id="footer-newsletter">

    </div>
    -->
    <div class="footer-social">
      <a href="https://github.com/Kasimirsuterwinter" class="fade" target="_blank"><p>Github</p></a>
      <a href="https://www.instagram.com/kasimirsuterwinter/" class="fade" target="_blank"><p>Instagram</p></a>
      <a href="https://medium.com/@kasimirsw" class="fade" target="_blank"><p>Medium</p></a>
      <a href="https://www.facebook.com/kasimir.suterwinter" class="fade" target="_blank"><p>Facebook</p></a>
    </div>
    <div class="footer-contact">
      <p>hello(at)kasimirsuterwinter.com <br>
        Prague, Czechia </p>
    </div>
    <div class="footer-github">
      <p><a href="https://github.com/Kasimirsuterwinter/kasimirsuterwinter.github.io">Fork this site on Github</a></p>
    </div>
    <div class="footer-info">
      <p class="center-info"><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">CC Attribution-ShareAlike 4.0 International License</a>  | &lt;/&gt; with <3 by Kasimir Suter Winter</p>
    </div>
  </div>
</footer>
