<a href="/">
  <img class="logo" src="/assets/images/K-Logo-Solid-white.png" alt="Kasimir Suter Winter">
</a>
<label class="white_hamberger" for="toggle">&#9776;</label>
<input type="checkbox" id="toggle">
<nav class="nav">
  <ul class="menu-list">
    <li>
      <a class="menu-light" href="/"><p>Home</p></a>
    </li>
    <li>
      <a class="menu-light" href="/About"><p>About</p></a>
    </li>
    <li>
      <a class="menu-light" href="/blog"><p>Blog</p></a>
    </li>
  </ul>
</nav>
