<!DOCTYPE html>
<html {% if page.background %} class="background_img_k" {% endif %}>
 <head>
   {% include head.html %}
   {% seo %}
   <img src="http://images.weserv.nl/?url=kasimirsuterwinter.github.io/assets/images{{ page.image }}&w=200&h=200&output=jpg&q=65" />
 </head>
  <body>
    <main>
      <header>
        {% include header.html %}
      </header>
         {{ content }}
       <footer>
         {% include footer.html %}
       </footer>
     </main>
  </body>
</html>
